/Debug/
/Release/
/alogger/
/Example_Main/
/Example_dll/
/algo/
/aloggerTest/
/exec01/
/StoreTable/
/startCDT/
/LoadSharedMem/
/SQLiteEx_g/
/SQLiteEx/
/sqlite/
/udp_client/
/udp_server/
/AppInputParser/
/AppWorkerThread/
/familyGuy.db
/AppExec01/
/AppTest/
